<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Articles Tab -->
  <ion-tab title="Articles" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/articles">
    <ion-nav-view name="tab-articles"></ion-nav-view>
  </ion-tab>

  <!-- Podcasts Tab -->
  <ion-tab title="Podcasts" icon-off="ion-ios-mic-outline" icon-on="ion-ios-mic" href="#/tab/podcasts">
    <ion-nav-view name="tab-podcasts"></ion-nav-view>
  </ion-tab>

  <!-- Videos Tab -->
  <ion-tab title="Videos" icon-off="ion-ios-videocam-outline" icon-on="ion-ios-videocam" href="#/tab/videos">
    <ion-nav-view name="tab-videos"></ion-nav-view>
  </ion-tab>


</ion-tabs>
