ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active {
  color: #66615D;
  border-color: #66615D;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
  color: #66615D;
  border-color: #66615D;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
  color: #66615D;
  border-color: #66615D;
}

.item {
  background-color: #FFFCF5;
}

.scroll-content {
  background-color: #FFFCF5;
}

.bar.bar-positive {
  background-color: #FFFCF5;
}

.tabs-striped .tabs {
  background-color: #FFFCF5;
}

.podcast-section {
    padding-bottom: 0;
    margin-top: 16px
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 32px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
